// Custom styles.
body {
  background: url(../images/background-body.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover
}

.main {
  background-color: #FFF;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  //padding: 20px;
}

.menu-item a {
  color: #FFF
}

.menu-item a:hover {
  color: #222
}

.custom-logo-site-title::before {
  content: '';
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  position: absolute;
  background-position: center top;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer {
  position: relative
}

.sidebar-toggle {
  bottom: 145px;
}

.back-to-top.back-to-top-on {
  bottom: 110px;
}

.site-subtitle {
  color: #FFF;
}

@media (max-width: 767px){
  .site-nav {
    background: currentColor;
  }
}

